<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target xsi:type = "File" name = "logfile1" fileName = "${basedir}/logs/${shortdate}.log"
            layout = "${message}" />
	  <target xsi:type = "File" name = "logfile2" fileName = "${basedir}/logs2/log.log"
             layout = "${message}" />         
      <target xsi:type = "File" name = "logfile3" fileName = "${basedir}/logs3/${shortdate}.log"
             layout = "${message}" />
  </targets>

  <rules>
    <logger name = "Hits" minlevel = "Trace" writeTo = "logfile1" />
	 
	  <logger name = "SA" minlevel = "Trace" writeTo = "logfile2" />

        <logger name = "DeathUnits" minlevel = "Trace" writeTo = "logfile3" />
  </rules>
</nlog>




    